<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ asset('/assets/icon/favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ asset('/assets/css/style.css') }}">
  <link rel="stylesheet" href="{{ asset('/assets/css/navBar.css') }}">
  <link rel="stylesheet" href="{{ asset('/assets/css/toast.css') }}">
  <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>

  {% block stylesheet %}
  {% endblock %}
  <title>{% block title "Burger Compagny" %}</title>
</head>

<body>

  <header class="navContainer">
    <nav class="navBar">
      <button class="toggleButton" role="button" onclick="toggleNav()">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="25" fill="currentColor" class="bi bi-list"
          viewBox="0 0 35 16">
          <path fill-rule="evenodd"
            d="M20 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
      </button>
      <div class="brand">
        Burger compagny
      </div>
      <ul class="linkList">
        {{ nav_link() }}
      </ul>
    </nav>
  </header>
  <div class="container">
    {% if hasToast() %}
    <div class="toastContainer">
      {% for toast in renderToast() %}
      {{ toast | raw }}
      {% endfor %}
    </div>
    {% endif %}
    {% block body %}

    {% endblock %}
  </div>

  <script src="{{ asset('/assets/js/onscrollFunction.js') }}"></script>
  <script src="{{ asset('/assets/js/toggleNavBar.js') }}"></script>
  <script src="{{ asset('/assets/js/admin/toastController.js') }}"></script>

  {% block javascript %}
  {% endblock %}
</body>

</html>