{% extends '@admin/connected.html.twig' %}


{% block body %}

    <div class="produitContainer">
        <h1 class="pageTitle">
            <span class="top" style="transform: translateY(-30px);">Gestion des</span>
            <span class="bottom" style="transform: translateY(30px);">produits</span>
        </h1>
        <div class="produitCardDeck">
            <div class="card">
                <!-- debut form ajout produit -->
                <h4 class="formTitle">
                    Ajouter un produit
                </h4>
                <form action="{{ path('admin.produit.add') }}" method="POST" class="produitFormContainer" enctype="multipart/form-data">
                <span class="produitFormPart1">
                    <span class="inputGroup">
                        <label for="produitNom" class="inputLabel">
                            <input type="text" class="inputItem" name="produitNom" id="produitNom" placeholder="Nom"
                                   required/>
                            <span>Nom</span>
                        </label>
                    </span>
                    <span class="inputGroup">
                        <label for="produitPrix" class="inputLabel">
                            <input type="text" class="inputItem" name="produitPrix" id="produitPrix" placeholder="Prix" onkeypress="checkPrice(event); return false;"
                                   required/>
                            <span>Prix</span>
                        </label>
                    </span>
                    <span class="inputGroup">
                        <div class="fileInput">
                            <div class="inputFile">
                                <input type="hidden" name="MAX_FILE_SIZE" value="20000000"/>
                                <input
                                        type="file"
                                        class="inputItem"
                                        name="image"
                                        id="imageProduit"
                                        placeholder="Image"
                                        required
                                        onchange="addFileText(event)"

                                />
                            </div>
                            <div class="fakeFile">
                                <button disabled class="fakeButton"> Choisir une photo </button>
                                <br>
                            </div>
                        </div>
                        <span class="fakeInput" id="fakeInputProduit">
                                    Veuillez ajouter une photo
                        </span>
                    </span>
                    <span class="typeChoice">
                        <label for="categorieType">
                            <span>Catégorie</span>
                        </label>
                        <select name="categorie" id="categorieType" class="inputItem" placeholder="Categorie"
                                 required>
                            <option selected class="typeOption" disabled>....</option>
                            {% for categorie in categories %}
                                <option value={{ categorie.ID }}>{{ categorie.nom }}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <button type="button" onclick='switchForm("toLeft")' class="addButton nextButton">
                        Suivant
                    </button>
                </span>
                <span class="produitFormPart2">
                    <button class="backButton" type="button" onclick="switchForm('toRight')"><i
                                class="bi bi-arrow-left-short"></i>Retour</button>
                    <fieldset class="ingredientGroup">

                        {% for type in types %}

                            <div class="typeIngredientGroupItem" id="type-{{ type.id }}"
                                 onclick="toggleIngredientList(event,{{ type.id }})" data-idtype={{ type.id }}>
                                <div class="groupLabel">
                                    <span>{{ ucfirst(type.nom) }}</span> <i class="bi bi-caret-down-fill"></i>
                                </div>

                            {% for ingredient in ingredients %}
                                {% if ingredient.type == type %}
                                    <div class="groupItem">
                                            <input type="checkbox" name="ingredients[]" value="{{ ingredient.id }}"
                                                   id="ingredient-{{ ingredient.nom }}">
                                            <label for="ingredient-{{ ingredient.nom }}"
                                                   class="ingredientLabel">{{ ingredient.nom }}</label>
                                        </div>
                                {% endif %}
                            {% endfor %}

                            </div>
                        {% endfor %}

                    </fieldset>
                    <span class="typeChoice">
                        <label for="taxeType">
                            <span>Taxe</span>
                        </label>
                        <select name="taxe" id="taxeType" class="inputItem" placeholder="Taxe"
                                 required>
                            <option selected  class="typeOption" disabled>....</option>
                            {% for taxe in taxes %}
                                <option value={{ taxe.id }}>{{ taxe.taux }}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <button type="submit" class="addButton">
                        Valider
                    </button>

                </span>
                </form>
                <!-- fin form ajout produit -->
            </div>

            <!-- debut tableau produit -->
            <div class="table">
                <table class="categorieTypeTable categorieTableStyle">
                    <h4 class="title">
                        Liste produit
                    </h4>
                    <tbody>
                    <tr class="colonneTitleContainer">
                        <th class="colonneTitleItem">Nom</th>
                        <th class="colonneTitleItem">prix</th>
                        <th class="colonneTitleItem">taxe</th>
                        <th class="colonneTitleItem">categorie</th>
                        <th class="colonneTitleItem">offre</th>
                        <th class="colonneTitleItem">Action</th>
                    </tr>
                    {% for produit in produits %}
                        <tr class="categorieTypeItem" id="produit-{{ produit.id }}">
                            <td class="categorieTypePart">{{ produit.nom }}</td>
                            <td class="categorieTypePart">{{ currencyFormat(produit.prix, '€') }}</td>
                            <td class="categorieTypePart">{{ currencyFormat(produit.taxe.taux, '%') }}</td>
                            <td class="categorieTypePart">{{ produit.categorie.nom }}</td>
                            <td class="categorieTypePart">{{ produit.nom }}</td>
                            <td class="categorieTypePart buttonGroup">
                                <a class="actionButton updateButton"
                                        href="{{path('admin.produit.update',{id:produit.id})}}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <button class="actionButton deleteButton"
                                        onclick="supprItem('produit',{{ produit.id }})">
                                    Supprimer
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- fin tableau produit -->
        </div>

        <!-- Tableau de categorie -->
        <div class="produitCardDeck">
            <!-- debut liste categorie produit -->
            <div class="table">
                <table class="categorieTypeTable categorieTableStyle">
                    <h4 class="title">
                        Liste categorie
                    </h4>
                    <tbody>
                    <tr class="colonneTitleContainer">
                        <th class="colonneTitleItem">Nom</th>
                        <th class="colonneTitleItem">Action</th>
                    </tr>
                    {% for categorie in categories %}
                        <tr class="categorieTypeItem" id="categorie-{{ categorie.id }}">
                            <td class="categorieTypePart">{{ ucfirst(categorie.nom) }} </td>
                            <td class="categorieTypePart buttonGroup">
                                <button class="actionButton updateButton">
                                    <i
                                            class="bi bi-pencil-square"
                                            data-nomcategorie="{{ categorie.nom }}"
                                            onclick="openModal(
                                                    event,
                                                    'categorie',
                                            {{ categorie.id }}
                                                    )"
                                    >
                                    </i>
                                </button>
                                <button
                                        class="actionButton deleteButton"
                                        onclick="supprItem(
                                                'categorie',
                                        {{ categorie.id }}
                                                )"
                                >
                                    Supprimer
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Fin de tableau de categorie -->

            <!-- Form ajout categorie -->
            <div class="card">
                <!-- debut form ajout categorie produit -->
                <h4 class="formTitle">
                    Ajouter categorie
                </h4>
                <form
                        action="{{ path('admin.addCategorie') }}"
                        method="POST"
                        enctype="multipart/form-data"
                        class="produitFormContainer"
                >
                    <div class="inputGroup">
                        <label for="categorieNom" class="inputLabel">
                            <input
                                    type="text"
                                    class="inputItem"
                                    name="nom"
                                    id="categorieNom"
                                    placeholder="Nom"
                                    required
                            />
                            <span>Nom</span>
                        </label>
                    </div>
                    <span class="inputGroup">
                        <div class="fileInput">
                            <div class="inputFile">
                                <input type="hidden" name="MAX_FILE_SIZE" value="20000000"/>
                                <input
                                        type="file"
                                        class="inputItem"
                                        name="image"
                                        id="image"
                                        placeholder="Image"
                                        required
                                        onchange="addFileText(event)"

                                />
                            </div>
                            <div class="fakeFile">
                                <button disabled class="fakeButton"> Choisir une photo </button>
                                <br>
                            </div>
                        </div>
                        
                         <span class="fakeInput" id="fakeInput">
                                    Veuillez ajouter une photo
                        </span>
                    </span>
                    <button type="submit" class="addButton">
                        Ajouter
                    </button>
                </form>
            </div>
        </div>
        <!-- Fin de form ajout categorie -->

        <!-- Emplacement des modal de modofication -->
        <div class="modalContainer hiddenModal" id="modalCategorie">
            <div class="modalUpdateType">
                <div class="modalHead">
                    <div class="modalTitle">
                        Modifier une catégorie
                    </div>
                    <button class="closeModalButton" onclick="closeModalCategorie()">
                        &times;
                    </button>
                </div>
                <div class="modalBody">
                    <form action="{{ path('admin.Categorie.update') }}" method="POST" class="uptadeTypeForm"
                          enctype="multipart/form-data">
                        <input type="hidden" id="categorieIdUpdate" name="id" value="">
                        <div class="inputGroup">
                            <label for="categorieNomUpdate" class="inputLabel">
                                <input type="text" class="inputItem" name="nom" id="categorieNomUpdate" value=""
                                       placeholder="Nom" required/>
                                <span>Nom</span>
                            </label>
                        </div>
                        <div class="fileInput">
                            <div class="inputFileUpdate">
                                <input type="hidden" name="MAX_FILE_SIZE" value="20000000"/>
                                <input
                                        type="file"
                                        class="inputItem"
                                        name="imageupdate"
                                        id="imageupdate"
                                        placeholder="Image"
                                        onchange="addFileTextupdate(event)"
                                        value=""
                                />
                            </div>

                            <div class="fakeFileUpdate">
                                <button disabled class="fakeButton"> Choisir une photo</button>
                                <br>
                            </div>
                        </div>
                        <span id="fakeInputupdate">
                                    Veuillez ajouter une photo
                        </span>
                <button type="submit" class="addButton">
                    Modifier
                </button>
                </form>
            </div>
        </div>
    </div>

    <!-- FIN emplacement des modal de modification -->
    <!-- Emplacement du modal de modification des taxe -->
    <div class="modalContainer hiddenModal" id="modalTaxe">
        <div class="modalUpdateType">
            <div class="modalHead">
                <div class="modalTitle">
                    Modifier une taxe
                </div>
                <button class="closeModalButton" onclick="closeModalTaxe()">
                    &times;
                </button>
            </div>
            <div class="modalBody">
                <form action="" method="POST" class="uptadeTypeForm">
                    <input type="hidden" id="taxeIdUpdate" name="taxeIdUpdate" value="">
                    <div class="inputGroup">
                        <label for="taxeTauxUpdate" class="inputLabel">
                            <input
                                    type="number"
                                    min="0"
                                    max="100"
                                    step="0.1"
                                    class="inputItem"
                                    name="taxeTauxUpdate"
                                    id="taxeTauxUpdate"
                                    value=""
                                    placeholder="Taux"
                                    required
                            />
                            <span>Taux</span>
                        </label>
                    </div>
                    <button type="submit" class="addButton">
                        Modifier
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- FIN emplacement des modal de modification -->
{% endblock %}

{% block script %}
    <script type="text/javascript" src="../../assets/js/admin/controlModal.js"></script>

    <script type="text/javascript" src="../../assets/js/admin/toastController.js"></script>
    <script type="text/javascript" src="../../assets/js/admin/suppressionAjax.js"></script>

    <script type="text/javascript" src="../../assets/js/admin/animation.js"></script>
    <script type="text/javascript" src="../../assets/js/admin/dropDownIngredient.js"></script>
    <script type="text/javascript" src="../../assets/js/admin/switchForm.js"></script>
    <script type="text/javascript" src="../../assets/js/admin/ajoutImage.js"></script>
    <script type="text/javascript" src="../../assets/js/admin/priceCheck.js"></script>
{% endblock %}