{% extends '@admin/connected.html.twig' %}

{% block body %}
    <a href="{{ path('admin.home') }}">Retour</a>
<div class="update__offre__card">
    <form action="{{ path('admin.offre.update', {id: offre.id}) }}" method="POST" class="offreForm">
                    <span class="part formTitle" style="color: var(--color-primary);">
                        Modifier l'offre {{ offre.nom }}
                    </span>
        <span class="part">
                        <div class="inputGroup">
                            <label for="nom_offre" class="inputLabel">
                                <input
                                        type="text"
                                        name="nom" placeholder="Nom de l'offre"
                                        id="nom_offre"
                                        value="{{ offre.nom }}"
                                        required />
                                <span>Nom de l'offre</span>
                            </label>
                        </div>
                    </span>
        <span class="part">
                <div class="inputGroup">
                    <label for="pourcentage_offre" class="inputLabel">
                        <input
                                type="text"
                                name="taux" placeholder="pourcentage de l'offre"
                                id="pourcentage_offre"
                                value="{{ offre.taux }}"
                                required />
                        <span>% de l'offre</span>
                    </label>
                </div>
            </span>
        <div class="inputGroup">
            <label for="date_debut_offre" class="inputLabel">
                <input
                        type="date"
                        class="inputItem"
                        name="date_debut"
                        id="date_debut_offre"
                        value="{{ offre.dateDebut|date('Y-m-d') }}"
                        placeholder="Débute le :"
                        required
                />
                <span>Débute le :</span>
            </label>
        </div>
        <div class="inputGroup">
            <label for="date_fin_offre" class="inputLabel">
                <input
                        type="date"
                        class="inputItem"
                        name="date_fin"
                        id="date_fin_offre"
                        value="{{ offre.dateFin|date('Y-m-d') }}"
                        placeholder="Fin le :"
                        required
                />
                <span>Fin le :</span>
            </label>
        </div>
        <span class="part">
            <input type="submit" class="subButton" value="Ajouter">
        </span>
    </form>
</div>
{% endblock %}